{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="card" style="width: 24rem;">
  {% if post.image %}
  <img src="{{post.image.url}}" class="card-img-top" alt="...">
  {% else %}
  <img src="{% static 'placeholder.png' %}" class="card-img-top" alt="...">
  {% endif %}
  <div class="card-body">
    <h4 class="card-title">{{post.name}}</h4>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{post.created_at}}</h6>
    <p class="card-text">{{post.content}}</p>
    <p class="card-text">{{post.rate}}</p>
    <strong>Comments</strong>
    {% for comment in comments %}
      <p class="card-text">{{comment.text}}</p>
    {% endfor %}
  </div>
</div>
<strong>Comments</strong>
<div style="padding-left: 8px;">
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create comment</button>
    </form>
    </div>
{% endblock %}