<body bgcolor=E0D7FF></body>
<body text=8B0000></body>
<h2>Love to Nanaꨄ︎</h2>
<p><cite>“I always thought that life was about standing your ground, no matter how strong the current was. <br>But going with the flow isn't so bad after all. As long as it takes you forward.” <br>Osaki Nana</cite></p>

<img src="https://lh4.googleusercontent.com/W7piPCqJVYvzYnQuNNNqoYhJne-gDy13pS7e7qWDc8zzzLZ_KYfx_eDxJXszxTCQnyLRNWGmiVvic73UQFDUYNgV3yjWZdqK_6C-TWz9d6IGWPavZ7f2LUu0CFYkG6hNRDZYr3GkeD_FxJWLhA" align=right width="900" height="500">

<h3>Tracklist:</h3>

<body link=8B0000></body>
<body vlink=8B0000></body>
<body alink=8B0000></body>

<p><a href="https://www.smule.com/song/anna-inspi-nana-rose-karaoke-lyrics/627789449_2257339/arrangement">Rose</a></p>
<p><a href="https://www.smule.com/song/olivia-inspi-reira-trapnest-wish-nana-opening-karaoke-lyrics/586669595_410184/arrangement">Wish</a></p>
<p><a href="https://www.smule.com/song/olivia-lufkin-a-little-pain-nana-karaoke-lyrics/759820064_1939160/arrangement">A Little Pain</a></p>
<p><a href="https://www.smule.com/song/anna-tsuchiya-inspi-nana-black-stones-kuroi-namida-karaoke-lyrics/13095204_13095204/arrangement">Kuroi Namida</a></p>
<p><a href="https://www.smule.com/song/olivia-lufkin-starless-night-nana-karaoke-lyrics/759820064_1943851/arrangement">Starless Night</a></p>
<p>Click <a href="https://nana.fandom.com/wiki/Nana_Wiki">here</a> to go to NaNa Wikiꨄ︎</p>



